/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main */
main{
    height: 100vh;
}
.ms_container{
    width: 43.75rem;
    height: 18.75rem;
    background-color: aqua;
    position: relative;
}
.ms_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.show{
    display: block;
}
.fa-solid{
    position: absolute;
    right: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    z-index: 5;
}
.fa-circle-chevron-up{
 top: .9375rem;
}
.fa-circle-chevron-down{
 bottom: .9375rem;
}